/* Login Section */

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

form div {
    margin: 7px 0;
}

form div input.textfield {
    margin: 10px 0;
}

form div * {
    box-sizing: border-box;
    width: 20%;
    display: inline-block;
    text-align: start;
}

form input.login-btn {
    width: 8%;
    height: 45px;
    background-color: rgb(248, 181, 157);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.05rem;
    transition: ease 0.3s;
}

form input.login-btn:hover {
    background-color: coral;
    cursor: pointer;
}