body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

table * {
    border: 1px solid black;
}

table tr:first-child {
    background-color: rgb(236, 230, 147);
    text-align: center;
    padding: 0 5px;
}
table tr * {
    padding: 0 10px;
}

table tr {
    height: 2.3em;
}

.action-btn {
    background-color: rgb(248, 181, 157);
    border: none;
    transition: ease 0.3s;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.action-btn:hover {
    background-color: coral;
}