body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

table * {
    border: 1px solid black;
}

table tr:first-child {
    background-color: rgb(236, 230, 147);
    text-align: center;
    padding: 0 5px;
}
table tr * {
    padding: 0 10px;
}

table tr {
    height: 2em;
}