body {
    font-family: Arial, Helvetica, sans-serif;
}

.inner {
    display: flex;
    flex-direction: row;
}

table, .edit-container {
    display: inline-block;
}

table {
    border-collapse: collapse;
    margin-right: 12px;
}

table * {
    border: 1px solid black;
}

table tr:first-child {
    background-color: rgb(236, 230, 147);
    text-align: center;
    padding: 0 5px;
}
table tr * {
    padding: 0 10px;
}

table tr {
    height: 2.3em;
}

.action-btn {
    background-color: rgb(248, 181, 157);
    border: none;
    transition: ease 0.3s;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
}

.action-btn:hover {
    background-color: coral;
}


.edit-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.edit-container span {
    margin: 10px 0;
}

.confirm-btns {
    margin: 7px 0;
}

.confirm-btns input {
    height: 2rem;
    width: 5rem;
    font-weight: bold;
    cursor: pointer;
}